* {
  font-family: 'Inter', sans-serif;
  margin: 0px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F55A5A;
  height: 110px;
  gap: 14px;
}

.globe-icon {
  height: 55px;
}

.header-text {
  color: white;
  font-weight: 500;
  font-size: 28px;
  letter-spacing: -0.075em;
}

.card-div {
  display: flex;
  margin: 100px 80px;
}

.main-img {
  width: 250px;
  height: 339px;
  border-radius: 10px;
  object-fit: cover;
}

.info-div {
  display: flex;
  flex-direction: column;
  margin: 38px;
}

.location-div {
  display: flex;
}

.location-icon {
  width: 14px;
  height: 19.1px;
  line-height: 24px;
}

.location {
  font-weight: 400;
  font-size: 20.48px;
  line-height: 20px;
  letter-spacing: 0.34em;
  text-transform: uppercase;
  margin-left: 8px;
}

.location-link {
  font-weight: 400;
  font-size: 20.48px;
  line-height: 20px; 
  color: #918E9B;
  margin-left: 24px;
  text-decoration: none;
}

.location-link:hover {
  text-decoration-line: underline;
  color: #7d7a86;
}

.card-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 70px;
  color: #2B283A;
}

.card-date {
  font-weight: 700;
  font-size: 20px;
  line-height: 70px;
  color: #2B283A;
}

.card-description {
  font-size: 20px;
  line-height: 150%;
  margin-top: -20px;
}